.block-slider {
  .carousel-inner {
    .carousel-item {
      height: 716px;

      @include media-breakpoint-down(sm) {
        height: 300px;
      }

      figure {
        background-size: cover;
      }
    }
  }

  .arrow {
    bottom: 15px;
    z-index: 99;

    a {
      @include media-breakpoint-down(sm) {
        position: absolute;
      }
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 13px;
}
